<div class="">
  <nav class="bg-black p-[1%]">
    <div class="justify-evenly flex">
      <div class="flex space-x-2 font-bold text-white "> <img  src="../assets/images/icons8-tools-64.png" class="w-7" alt=""><span>info@yourdomain.com</span></div>
      <div class="flex space-x-2 font-extrabold text-white "> <img  src="../assets/images/icons8-tools-64.png" class="w-7" alt=""><span> + 18000-200-1234</span></div>
      <div class="flex space-x-2 font-extrabold text-white "> <img  src="../assets/images/icons8-tools-64.png" class="w-7" alt=""><span>Open Hours: Mon - Sat 9.00 - 18.00</span></div>
    </div>
  </nav>
  <div class="bg-white sticky top-0  ">
    <div class="flex justify-between items-center px-24 ">
       <img src="../assets/img/logo.png" class="w-48" alt="">
       <div>
        <ul class="flex space-x-5 ">
          <li class=" font-bold text-gray-700 hover:text-[#00AF90] cursor-pointer " >HOME</li>
          <li  class=" font-bold text-gray-700  hover:text-[#00AF90] cursor-pointer " >ABOUT</li>
          <li class=" font-bold  text-gray-700 hover:text-[#00AF90] cursor-pointer"  >SERVICES</li>
          <li  class=" font-bold text-gray-700 hover:text-[#00AF90] cursor-pointer " >PROJECT</li>
          <li  class=" font-bold text-gray-700 hover:text-[#00AF90] cursor-pointer" >BLOG</li>
          <li  class=" font-bold text-gray-700 hover:text-[#00AF90] cursor-pointer " >CONTACT</li>
        </ul>
       </div>
    </div>
  </div>
  
  <div class="">
      <img src="../assets/img/hero.jpg" class=" " alt="">
      <div   class="absolute top-1/2 space-y-7 px-24 "> 
        <h1 class="   text-[#00A98B] text-4xl font-bold">Freelancer</h1>
        <h1 class="  text-7xl  text-white font-extrabold ">I'm a Creative <br>Designer & Developer</h1>
        <h1 class="  text-white text-2xl tracking-wider" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque vel aut animi <br> quam ducimus consequatur voluptas delectus, sapiente.</h1>
        <div class="space-x-4">
          <button class="button-57  border-2 border-[#00AF90] text-white  rounded-sm hover:bg-[#00AF90] font-extrabold p-3 " data-toggle="modal" data-target="#exampleModal">GET STARTED</button>
          <button  class="font-extrabold border-2 border-[#00AF90] rounded-sm hover:bg-[#00AF90] text-white p-3">BUY NOW</button>
        </div>
      </div>
  </div>
  <div class="flex justify-between p-20  gap-4">
       <div class=" space-y-6 w-1/2">
          <h1 class="text-5xl font-semibold text-gray-800">Why Choose Us</h1>
            <h1 class="font-semibold text-gray-800 tracking-widest">Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries.
            Lsecteturofm ipsum dolor sit amet consectetur adipisicing elit. Mollitia, eaque quisquam! Maiores dolore rem veniam voluptas laboriosam atque tenetur odit cupiditate maxime provident dignissimos ducimus nemo, omnis reprehenderit velit cum adipisicing elit. Mollitia, eaque quisquam! Maiores dolore remLorem Ipsum is simply dummy text of the printing and type setting industry when an unknown printer took a galley of type and s veniam voluptas laboriosam atque tenetur odit cupiditate maxime provident dignissimos ducimus nemo, omnis reprehenderit velit cum a natus itaque quo repellendus aliquid tempora officiis, amet autem ipsa?Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, eaque quisquam! Maiores dolore rem veniam voluptas laboriosam atque tenetur odit cupiditate maxime provident dignissimos ducimus nemo, omnis reprehenderit velit cum</h1>
       </div>
       <div class="grid grid-cols-2 text-center gap-8 w-1/2 ">
          <div class=" bg-[#00AF90] rounded-md hover:rounded-md h-56 font-medium text-gray-800 rounded-tr-[30%] hover:rounded-tr-md hover:transition-all  ">
            <div class="space-y-2 mt-3">
            <img src="../assets/images/icons8-bookmark-60.png" class="ml-auto mr-auto w-11" alt="">
              
              <h1 class=" text-2xl font-bold">Strategy &<br>Research</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
            </div>
          </div>
          <div class=" bg-[#00AF90] h-64 font-medium text-gray-800 space-y-4 rounded-tr-[30%] hover:rounded-none hover:transition-all   "><div class="space-y-2 mt-3">
            <img src="../assets/images/icons8-bookmark-60.png" class="ml-auto mr-auto w-11 text-white" alt="">
              
              <h1 class=" text-2xl font-bold">Strategy &<br>Research</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
            </div>
          </div>
          <div class=" bg-[#00AF90] h-56 font-medium text-gray-800 space-y-4 rounded-tr-[30%] hover:rounded-none hover:transition-all  "><div class="space-y-2 mt-3">
            <img src="../assets/images/icons8-bookmark-60.png" class="ml-auto mr-auto w-11" alt="">
              
              <h1 class=" text-2xl font-bold">Strategy &<br>Research</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
            </div>
          </div>
          <div class=" bg-[#00AF90] h-56 font-medium text-gray-800 space-y-4  rounded-tr-[30%] hover:rounded-none hover:transition-all  "><div class="space-y-2 mt-3">
            <img src="../assets/images/icons8-bookmark-60.png" class="ml-auto mr-auto w-11" alt="">
              
              <h1 class=" text-2xl font-bold">Strategy &<br>Research</h1>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit Consectetur.</p>
            </div>
          </div>
       </div>
  </div>

  <div class="flex justify-between px-20 space-x-16 items-center">
      <div class="w-1/2">
        <img src="../assets/img/about.png" alt="">
      </div>
      <div class=" space-y-6 w-1/2">
          <h1 class="text-5xl font-bold text-gray-800">About Us</h1>
          <h1 class="text-3xl font-extrabold text-gray-800">Who We Are</h1>
          <h1 class="font-semibold text-gray-800 tracking-wider">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque vel aut animi quam ducimus consequatur voluptas delectus, sapiente, explicabo nam quasi! Corporis ipsum quae repellendus molestias a quaerat recusandae similique!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius exercitationem suscipit ex quasi in iure dolorem cupiditate corrupti ducimus ipsa.
          </h1>   
          <button class="font-extrabold border-2 border-[#00AF90] gap-4 rounded-sm hover:bg-[#00AF90]  text-gray-800 p-3">READ MORE</button>
      </div>
  </div>
  <div class="bg-white h-1/2 text-center p-20 space-y-7">
         <h1 class="text-4xl font-bold text-gray-800">Our Services</h1>
         <h1 class="font-semibold text-gray-800 tracking-wide text-lg">Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries.</h1>
  </div>
  <app-login-popup></app-login-popup>
  
</div>

